@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20rem;
  text-align: center;
  font-size: 20px;
}
