@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.gradient-text {
  background: linear-gradient(
    to right,
    rgb(57, 3, 3),
    rgb(118, 6, 6),
    rgb(195, 85, 16),
    rgb(50, 126, 4),
    rgb(3, 70, 3),
    #011301
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
